    <!doctype html>
    <html lang="en">
    <head>
        <title>Social Network</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css">
        <link rel="stylesheet" type="text/css" href="/public/css/semantic.css">
    </head>
    <body>
       <!-- TOP MENU -->
        <div class="ui red inverted menu">
            <a class="item" href="/index"><i class="home icon"></i> <%=user.name%>'s wall</a>
            <a class="item" href="/news"><i class="grid layout icon"></i> News</a>
            <a class="item" href="/friends"><i class="users icon"></i> My friends</a>
            <a class="item"><i class="setting icon"></i> Profil</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <form action="user/search" method="GET">
                            <input type="text" name="user_search" placeholder="Search users...">
                        </form>
                        <i class="search icon"></i>
                    </div>
                </div>
                <a class="ui item" href="/user/logout"><i class="off icon"></i> Logout</a>
            </div>
        </div>
        <!-- END TOP MENU -->

        <div class="ui one column page grid">
            <div class="column">

                <div class="ui segment">
                <!-- LIST OF USERS -->
                <h3 class="ui header">Result for  people <%=user_search%></h3>

        		<% if users %>
        		<div class="ui divided list">
        			<% users.each do |person| %>
        			<div class="item">
        				<div class="right floated tiny teal ui button"><a href="/user/add_friend?id=<%=person.id%>" class="right floated tiny teal ui button">Add as a friend</a></div>
        				<img class="ui avatar image" src="/images/demo/avatar2.jpg">
        				<div class="content">
        					<div class="header"><%=person.name%></div>
        				</div>
        			</div>
        			<% end %>
        		</div>
        		<% end %>
                <!-- END LIST OF USERS -->
            </div>
            </div>
        </div>

    </body>
    </html>