    <!doctype html>
    <html lang="en">
    <head>
        <title>Social Network</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css">
        <link rel="stylesheet" type="text/css" href="/public/css/semantic.css">
    </head>
    <body>

        <!-- TOP MENU -->
        <div class="ui red inverted menu">
            <a class="active item"><i class="home icon"></i> Home</a>
            <a class="item"><i class="user icon"></i> Friends</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <form action="search" method="GET"><input type="text" placeholder="Search users..."></form>
                        <i class="users icon"></i>
                    </div>
                </div>
                <a class="ui item" href="/user/logout">Logout</a>
            </div>
        </div>
        <!-- END TOP MENU -->
        <!-- LEFT MENU -->
        <div class="ui vertical menu">
            <div class="item"><%=user.name%></div>
            <div class="item">
                <div class="ui input">
                    <form action="search" method="GET"> 
                        <input type="text" name="user_search" placeholder="Search users...">
                    </form>
                </div>
            </div>

            <div class="item">
                <i class="home icon"></i> Home
                <div class="menu">
                  <a class="active item">My wall</a>
                  <a class="item">My profil</a>
                </div>
            </div>

            <a class="item">
                <i class="grid layout icon"></i> News
            </a>
            <a class="item">
                <i class="user icon"></i> Friends
                <div class="ui label"><%=user.friends.count%></div>
            </a>
            <a class="item" href="user/search">
                <i class="search icon" ></i> Find friends
            </a>
        </div>
        <!-- END LEFT MENU -->
        

</body>
</html>